//шрифты
$fonts: (
	"pt-sans-bold": "PT Sans Bold",
	"pt-sans-regular": "PT Sans Regular",
	"bebas-neue-regular": "Bebas Neue Regular",
);

//цвета
$colors: (
	"white": #f4f5f9,
	"black-blue": #42567a,
	"blue": #3877ee,
	"main-blue": #5d5fef,
	"main-pink": #ef5da8,
);

//break-points
$breakpoints: (
    "desktop": 1240px,
);

