@use "../../../../variables.module.scss" as vars;
@use "sass:color";

.button {
	width: clamp(25px, 2.6vw, 50px);
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid color.adjust(vars.$black-blue, $alpha: -0.5);
	background-color: transparent;
	display: grid;
	place-items: center;

	& > svg {
		height: clamp(8px, 0.83vw, 16px);

		& path {
			stroke: vars.$black-blue;
		}
	}

	&[data-direction="next"] > svg {
		transform: rotate(180deg);
	}

	&:disabled {
		filter: grayscale(70%);
		opacity: 0.6;
	}
}
