@use "~@styles/_mixins.module.scss" as mixins;
@use "~@styles/_functions.module.scss" as fns;

.slider {
	&_desktop {
		display: none;
		margin-bottom: 60px;
	}

	&_mobile {
		display: block;
	}

	@include mixins.respond-to("desktop") {
		&_desktop {
			display: block;
		}

		&_mobile {
			display: none;
		}
	}

	&_controls {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_left {
			content: "";

			&_page_index {
				color: fns.color("black-blue");
				font-family: fns.font("pt-sans-regular"), sans-serif;
				font-size: 14px;
				font-weight: 400;
				margin-bottom: clamp(10px, 1.875vw, 36px);
			}

			&_hidden {
				visibility: hidden;
			}

			&_buttons {
				display: flex;
				gap: clamp(8px, 1.25vw, 24px);

				& > * {
					flex-shrink: 0;
				}

				&_prev {
					content: "";
				}

				&_next {
					content: "";
				}
			}
		}

		&_pagination {
			display: flex;
			justify-content: center;
			gap: 10px;

			&_bullet {
				background-color: fns.color("black-blue");
				opacity: 0.4;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				display: block;
				cursor: pointer;

				&_active {
					opacity: 1;
				}
			}
		}
	}
}
