@use "~@styles/_mixins.module.scss" as mixins;
@use "~@styles/_functions.module.scss" as fns;

.hr {
	color: #c7cdd9;
	height: 1px;
	margin-bottom: 20px;
}

.year {
	font-family: fns.font("bebas-neue-regular"), sans-serif;
	color: fns.color("blue");
	font-size: clamp(16px, 1.3vw, 25px);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	margin-bottom: 15px;
}

.paragraph {
	font-family: fns.font("pt-sans-regular"), sans-serif;
	font-weight: 400;
	font-size: clamp(14px, 1.1vw, 20px);
	line-height: 145%;
	color: fns.color("black-blue");
}

.nested {
	min-height: 200px;
	position: relative;

	&_controls {
		display: none;
		& > * {
			position: absolute;
			top: calc(50% - 40px);
			z-index: 1;
		}

		&_prev {
			left: 20px;
		}

		&_next {
			right: 20px;
		}

		@include mixins.respond-to("desktop") {
			& {
				display: block;
			}
		}
	}

	&_slide {
		padding-left: clamp(20px, 6.25vw, 322px);
	}
}

.heading {
	font-family: fns.font("pt-sans-bold"), sans-serif;
	font-weight: 700;
	font-size: clamp(20px, 6vw, 56px);
	line-height: 120%;
	color: fns.color("black-blue");
	width: clamp(123px, 25vw, 360px);
	margin-bottom: 20px;
	white-space: nowrap;
}

@include mixins.respond-to("desktop") {
	.heading {
		display: none;
	}

	.hr {
		display: none;
	}
}
