@use "../../../../variables.module.scss" as vars;

.hr {
	color: #c7cdd9;
	height: 1px;
	margin-bottom: 20px;
}

.year {
	font-family: vars.$bebas-neue-regular-font, sans-serif;
	color: vars.$blue;
	font-size: clamp(16px, 1.3vw, 25px);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	margin-bottom: 15px;
}

.paragraph {
	font-family: vars.$pt-sans-regular-font, sans-serif;
	font-weight: 400;
	font-size: clamp(14px, 1.1vw, 20px);
	line-height: 145%;
	color: vars.$black-blue;
}

.nested {
	min-height: 200px;
	position: relative;

	&_controls {
		display: none;
		& > * {
			position: absolute;
			top: calc(50% - 20px);
			z-index: 1;
		}

		&_prev {
			left: 20px;
		}

		&_next {
			right: 20px;
		}

		@media screen and (min-width: vars.$break-point-desktop) {
			& {
				display: block;
			}
		}
	}

    &_slide {
        padding-left: clamp(20px, 6.25vw, 322px);
    }
}

.heading {
	font-family: vars.$pt-sans-bold-font, sans-serif;
	font-weight: 700;
	font-size: clamp(20px, 6vw, 56px);
	line-height: 120%;
	color: vars.$black-blue;
	width: clamp(123px, 25vw, 360px);
	margin-bottom: 20px;
}

@media screen and (min-width: vars.$break-point-desktop) {
	.heading {
		display: none;
	}

	.hr {
		display: none;
	}
}
