//шрифты
$pt-sans-bold-font: "PT Sans Bold";
$pt-sans-regular-font: "PT Sans Regular";
$bebas-neue-regular-font: "Bebas Neue Regular";

//цвета
$white: #f4f5f9;
$black-blue: #42567a;
$blue: #3877ee;
$main-blue: #5d5fef;
$main-pink: #ef5da8;